/problema01/sol_java/problema01/nbproject/private/
/problema01/sol_java/problema01/build/
/problema02/sol_java/problema02/nbproject/private/
/problema02/sol_java/problema02/build/
/problema03/sol_java/problema03/nbproject/private/
/problema03/sol_java/problema03/build/
/problema05/sol_java/problema05/nbproject/private/
/problema05/sol_java/problema05/build/
/problema07/sol_java/problema07/nbproject/private/
/problema07/sol_java/problema07/build/
/problema09/sol_java/problema09/nbproject/private/
/problema09/sol_java/problema09/build/
